__pycache__/
*.py[cod]
*.pyd
.Python

.DS_Store

.idea/
.vscode/

env/
venv/
ee274_env/

*.so
*.dll
*.dylib

*.log

scl/testfiles/

*.tmp
*.swp
*.swo

*.out
*.bin

.ipynb_checkpoints/
.pytest_cache/
.mypy_cache/
.ruff_cache/

build/
dist/
*.egg-info/
